.profilePic{
    width: 4rem;
    height:4rem;
    background-color: rgb(34, 227, 217);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: xx-large;

}
.profileHeadings{
    color: rgb(34, 227, 217);
    text-shadow: 1px 1px 2px rgb(34, 227, 217);
    font-size: large;
}
.profilecontent{
    color: whitesmoke;
    text-shadow: 1px 1px 2px rgb(34, 227, 217);
    font-size: large;
}
.profileBtns button{
    background-color: transparent;
    border-radius: 5px;
    color: white;
    border: 1px solid rgb(34, 227, 217);
}
.statusBtn{
    text-shadow: 1px 1px 3px rgb(103, 103, 233);
    box-shadow: rgba(133, 148, 224, 0.801) 0px 1px 2px 0px, rgba(41, 44, 232, 0.719) 0px 1px 6px 1px;
}
.editBtn{
    text-shadow: 1px 1px 3px yellow;
    box-shadow: rgba(216, 239, 116, 0.801) 0px 1px 2px 0px, rgba(220, 231, 26, 0.719) 0px 1px 6px 1px;
}
.deleteBtn{
    text-shadow: 1px 1px 3px rgb(254, 1, 1);
    box-shadow: rgba(241, 128, 128, 0.801) 0px 1px 2px 0px, rgba(245, 31, 31, 0.719) 0px 1px 6px 1px;
}
.statusBtn:hover{
   background: blue;
}
.editBtn:hover{
   background: yellow;
   color: black;
}
.deleteBtn:hover{
   background: red;
}