/* AudioPreloader.css */
.audio-loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.bars {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.bar {
  width: 4px;
  background-color: rgb(43, 205, 226);
  animation: bounce 1s infinite ease-in-out;
}

.bar1 { animation-delay: 0s; }
.bar2 { animation-delay: 0.2s; }
.bar3 { animation-delay: 0.4s; }
.bar4 { animation-delay: 0.6s; }
.bar5 { animation-delay: 0.8s; }
.bar6 { animation-delay: 0.10s; }

@keyframes bounce {
  0%, 100% {
    height: 10px;
  }
  50% {
    height: 40px;
  }
}
